/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
  background-color: #35F580
}

/* PDF Links*/
a[href $= '.pdf'] {
	padding-right: 18px;
	background: transparent url(photos/pdf_logo.png) no-repeat center right;
}
/* Facebook Feed*/
.facebookfeed{
	margin-left: auto;
	margin-right: auto;
	padding-bottom: -15px;
	height:100%;
	}



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Logos for nav menu */
	

	.small_logo{
		margin-top:-15px;
		margin-left:-60px; 	
	}

	.big_logo{
	margin-top: -20px;
	padding-bottom:-15px;
	border-top: thick solid #C325F5;
	border-right:medium solid #C325F5;
	border-left:medium solid #C325F5;
	border-bottom:thick dashed #C325F5;
  }
  
  .big_logo:hover{
	  border-top: thick solid #6547FF;
	border-right:medium solid #6547FF;
	border-left:medium solid  #6547FF;
	border-bottom:thick dashed #6547FF}



/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */


.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
  
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
  background-color: #3E84E8;
}

.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #37FDFF;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* Footer
------------------------- */
.footerbuttons div{
	margin: 0px;
	padding: 0px;	
}

.footerbuttons a{
	background-color:#00688B;
	padding-top:15px;
	padding-bottom:15px;
	margin: 0px;
	font-size:16px;
	font-weight:500;
	border-radius:0px;
	border-width: 5px;
}


footer{
	margin-top:25px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 767px) {
	/*Logo */
	  .big_logo{
		  display:none !important;
	  }

}



@media (min-width: 768px) {
  /*Logo */

  .small_logo{
	display: none !important;
  }
  
 
  
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

.carousel img{
object-fit: cover;
overflow: hidden;
    }
	
.title{
	text-align:center;
	margin-top: 110px;
	margin-bottom:65px;
	width:50%;
	margin-right:auto;
	margin-left:auto;
	font-size:50px;
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

@media (min-width:768px) and (max-width: 991px){
	.navbar-inverse .navbar-nav>li>a {
		font-size:9px;
	}
}

#billybutton:hover{
	text-decoration: none;
}

.form-horizontal{
	background-color:#37FDFF;
	padding: 25px;
}

.sub-heading{
	text-align:center;
}

.progress{
	width:50%;
	margin-left:auto;
	margin-right:auto;
}

#ta{
	display:none;
	width: 100%;
	height: 200px;
}

.btn{
	color:#262626;
	background-color:#1877AC;
	margin-bottom:10px;
	margin-top: 10px;
}

#events{
	background-color: aqua;
	width: 100%	
}

.event {
	margin-bottom: 75px;
	margin-left: 25 px;
}

.event img{
	border:medium solid #161A8D;
	margin: 10px;
}

.double_column_list li {
	float: left;
	 width: 50%;
}

.double_column_list ul{
	list-style-type: none;
}

.simple_content{
	background-color: aqua;
	width: 100%;
	padding:25px;	
}

.simple_content img{
	border:medium solid #161A8D;
	margin: 10px;
}

.gallery_content{
	background-color: aqua;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;

}


#benifactor_list li{
	list-style-type: none;
	font-size:24px;
	margin: 10px
}

.img-center{
	width: 400px !important;
	margin-left:auto !important;
	margin-right:auto !important;
}

.contact_details{
	text-align:center;
	font-size:24px;
}
.contact_details h1{
	margin: 25px;
	font-size:35px;
	font-weight:700;
}


/* Buttons for Our Legacy Page */
.content_selector{
	width: 100%;
	margin:0px;
	padding:0px;
}

.content_selector div{
	margin:0px;
	padding:0px;
}

.content_selector a{
	margin: 0px;

}

.content_selector .btn{
	border-radius:0;
}


/* Table Design */

table{
	width:100%;
	margin:10px;
}


table{
	color:black	
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #12629B;
    color: white;
}

tr:nth-child(odd){
	background-color: white
}

tr:nth-child(odd) > th{ 
	background-color: #3E53CB
}

table a{
	color:purple;
	text-decoration:underline;
	
}

.down_arrow{
	background-color: #499DF5;
}
.down_arrow span{
	font-size: 24px;
	margin-left: 24%;
}

.button_group a{
	background-color: #499DF5;
}

.clear			{ 
	clear:both; 
}

.photo-link		{ 
	padding:5px;
	margin:5px; 
	border:1px solid #ccc;
	display:block;
	width:215px;
	height: 150px; 
	float:left;
	overflow:hidden;
}

.photo-link:hover{
	 border-color:#999; 
}

.gallery_images
{
    margin:1px;
    width:20%;
    text-align:left;
    border: 1px solid gray;
    display:inline-block;    
}
.gallery_container
{
    text-align:center;
    width:100%;
    border: 1px solid black;
}

.important_content{
	font-size:24px;
	font-weight:bold;
}